<p>unsplash works!</p>

<div class="alert alert-primary" role="alert">
  Unsplash list. Retreive data using <strong>@ngrx/store</strong> state management.
</div>

<div>
  <h2>List of photos</h2>
  <div class="photo-collection_header">
    <app-aria-select />
  </div>

  <div class="photo-collection">
    @for (photo of unsplashResults$ | async; track photo.id) {
      <div class="card" style="width: 18rem">
        <img
          src="{{ photo.urls.raw }}"
          style="background-image: url('{{ photo.urls.raw }}')"
          class="card-img-top photo-collection_thumb"
          alt="{{ photo.alt_desctiption }}"
          height="200"
        />
        <div class="card-body">
          @if (photo.description) {
            <h5 class="card-title">{{ photo.description }}</h5>
          } @else {
            <h5 class="card-title">No title</h5>
          }

          <p class="card-text">{{ photo.user.name }}</p>
          <p class="card-text">{{ photo.description }}</p>
          <p class="card-text">{{ photo.updated_at }}</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    }
  </div>

  @if (loading$ | async) {
    <div>Loading...</div>
  }

  @if (error$ | async) {
    <div>Error: {{ error$ | json }}</div>
  }
</div>
