.photo-collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;

  &_thumb {
    height: 150px;
    width: 100%;
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }

  &_header {
    z-index: 1000;
    position: relative;
  }
}
